.jumbotron {
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.list {
    display: flex;
    justify-content: space-between;
}

.results {
    display: flex;
    justify-content: space-between;
}

.result-header {
    text-decoration: underline;
}

.button {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
